div.frame {
	width: 43px;
	height: 52px;
	background-image: url('sprite_animation.png');
	margin: auto;
}

div.frame1 {
	background-position: 0px 0px;
}

div.frame2 {
	background-position: -43px 0px;
}

div.frame3 {
	background-position: -86px 0px;
}

div.frame4 {
	background-position: -129px 0px;
}

div.frame5 {
	background-position: -172px 0px;
}

div.frame6 {
	background-position: -215px 0px;
}

div.frame7 {
	background-position: 0px -52px;
}

div.frame9 {
	background-position: -43px -52px;
}

div.frame10 {
	background-position: -86px -52px;
}

div.frame11 {
	background-position: -129px -52px;
}

div.frame12 {
	background-position: -172px -52px;
}

div.frame13 {
	background-position: -215px -52px;
}

div.frame14 {
	background-position: 0px -104px;
}

div.frame15 {
	background-position: -43px -104px;
}

div.frame16 {
	background-position: -86px -104px;
}

div.frame17 {
	background-position: -129px -104px;
}

div.frame18 {
	background-position: -172px -104px;
}

div.frame19 {
	background-position: -215px -104px;
}

div.frame20 {
	background-position: 0px -156px;
}

div.frame21 {
	background-position: -43px -156px;
}

div.frame22 {
	background-position: -86px -156px;
}

div.frame23 {
	background-position: -129px -156px;
}

div.frame24 {
	background-position: -172px -156px;
}

div.frame25 {
	background-position: -215px -156px;
}

div.frame26 {
	background-position: 0px -208px;
}

div.frame27 {
	background-position: -43px -208px;
}

div.frame28 {
	background-position: -86px -208px;
}

div.frame29 {
	background-position: -129px -208px;
}

div.frame30 {
	background-position: -172px -208px;
}

























